*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/dictionaries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/kotlinscripting.xml
/.idea/vcs.xml
/.idea/inspectionProfiles
.DS_Store
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
